<body>
  <div class="container">
    <nav class="navBar">
      <div class="logosection">
        <div class="logoImg">
          <img src="" alt="" />
        </div>
        <div class="logoName">
          <span> </span>
        </div>
      </div>
      <div class="business">
        <div class="businessBtn">
          <a href=""> </a>
        </div>
      </div>
    </nav>
  </div>
</body>
