<body>
    <div class="container">
      <main class="content" style="margin-top: 100px;">
        <div class="wrapper">
          <h1 class="welcomeMessage">Almost there!!</h1>
          <form action="/auth/signup" method="post">
            <div class="UploadImage">
              <div id="profilePictureContainer">
                <img src="/images\majesticons_camera-line.png" class="dummyfigure" alt="">
                <img id="profilePicture" src="#" alt="">
              </div>
              <input type="file" id="imageUpload" accept="image/*" onchange="displayImage(this)" required>
              <label for="imageUpload"  class="custom-file-upload">Upload image</label>
            </div>
              <div class="nameDetails">
                <input type="text" placeholder="Firstname" required>
                <input type="text" placeholder="Lastname" required>
                <input type="text" placeholder="Preferred Display Name" required>
              </div>
                <input type="date" class="DOB" placeholder="Date of Birth" required>
                <div class="activeLocation">
                <input type="text" placeholder="Location" required>
                <span>Generate</span>
                </div>
                <div class="interest">
                  <label for="tech" class="test">
                    Technology
                    <input type="checkbox" class="show" id="tech">
                  </label>
                  <label for="science">
                    Science
                    <input type="checkbox" name="" id="science">
                  </label>
                  <label for="religion">
                    Religion
                    <input type="checkbox" name="" id="religion">
                  </label>
                  <label for="academics">
                    Academics
                    <input type="checkbox" name="" id="academics">
                  </label>
                  <label for="sport">
                    Sport
                    <input type="checkbox" name="" id="sport">
                  </label>
                  <label for="music">
                    Music
                    <input type="checkbox" name="" id="music">
                  </label>
                  <label for="food">
                    Food
                    <input type="checkbox" name="" id="food">
                  </label>
                  <label for="game">
                    Games
                    <input type="checkbox" name="" id="game">
                  </label>
                  <label for="politics">
                    Politics
                    <input type="checkbox" name="" id="politics">
                  </label>
                </div>
              <input type="submit" value="Finish!!" class="finishBtn">
          </form>
        </div>
      </main>
    </div>
    <script src="/script/update.js"></script>
  </body>