<body style="height: 140dvh;">
    <div class="container">
      <main class="content" style="margin-top: 100px;">
        <div class="wrapper">
          <h1 class="welcomeMessage">Almost there!!</h1>
          <form action="/auth/signup" method="post">
            <div class="UploadImage">
              <div id="profilePictureContainer">
                <img src="/images\majesticons_camera-line.png" class="dummyfigure" alt="">
                <img id="profilePicture" src="#" alt="">
              </div>
              <input type="file" id="imageUpload" accept="image/*" onchange="displayImage(this)" name="profilePicture" required>
              <label for="imageUpload"  class="custom-file-upload">Upload image</label>
            </div>
              <div class="nameDetails">
                <input type="text" name="firstName" placeholder="Firstname" required>
                <input type="text" name="lastName" placeholder="Lastname" required>
                <input type="text" name="displayName" placeholder="Preferred Display Name" required>
              </div>
                <input type="date" name="DOB" class="DOB" placeholder="Date of Birth" required>
                <div class="activeLocation">
                <input type="text" name="location" placeholder="Location" required>
                <span>Generate</span>
                </div>
                <div class="interest">
                  <label for="tech" class="labelBox">
                    Technology
                    <input type="checkbox" name="technology" class="checked" id="tech">
                  </label>
                  
                  <label for="science" class="labelBox">
                    Science
                    <input type="checkbox" name="science" class="checked" id="science">
                  </label>
                  <label for="religion" class="labelBox">
                    Religion
                    <input type="checkbox" name="religion" class="checked" id="religion">
                  </label>
                  <label for="academics" class="labelBox">
                    Academics
                    <input type="checkbox" name="academics" class="checked" id="academics">
                  </label>
                  <label for="sport" class="labelBox">
                    Sport
                    <input type="checkbox" name="sport" class="checked" id="sport">
                  </label>
                  <label for="music" class="labelBox">
                    Music
                    <input type="checkbox" name="music" class="checked" id="music">
                  </label>
                  <label for="food" class="labelBox">
                    Food
                    <input type="checkbox" name="food" class="checked" id="food">
                  </label>
                  <label for="game" class="labelBox">
                    Games
                    <input type="checkbox" name="games" class="checked" id="game">
                  </label>
                  <label for="politics" class="labelBox">
                    Politics
                    <input type="checkbox" name="politics" class="checked" id="politics">
                  </label>
                </div>
              <input type="submit" value="Finish!!" class="finishBtn">
          </form>
        </div>
      </main>
    </div>
    <script src="/script/update.js"></script>
  </body>