<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="shortcut icon" href="/images\Depth 6, Frame 0.png" type="image/x-icon">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
</head>
<body>
    <nav class="navBar">
        <div class="logosection">
          <div class="logoImg">
            <img src="/images\Depth 6, Frame 0.png" alt="" />
          </div>
          <div class="logoName">
            <span>Connect</span>
          </div>
        </div>
        <div class="business">
          <div class="businessBtn">
            <a href="">For Business</a>
          </div>
        </div>
      </nav>
<main><%- body %></main>    
</body>

</html>